In [12]:
import pandas as pd
from function import *
import numpy as np
import sys
print(sys.executable)
import glob
from tqdm import tqdm

/bin/python3

In [6]:
folder2003 = r'/mnt/e/2003/COMA*.fits'
filelist = glob.glob(folder2003)
len(filelist)

7896

In [9]:
df = pd.DataFrame(columns=["FRAME_ID", "DATE", "NAXIS3","CoAdd", "Q_CHEB", "Q_CHCN"])
for file in tqdm(filelist):
    obsheader = readheader(file)
    if obsheader["Q_CHAM"] !=1:
        list1 = [obsheader["FRAMEID"], obsheader["DATE-OBS"],obsheader["NAXIS3"], obsheader["Q_CHAM"], obsheader["Q_CHEB"], obsheader["Q_CHCN"]]
        add_pd =pd.DataFrame([list1], columns=df.columns)
        df = pd.concat([df, add_pd], ignore_index=True)

In [13]:
df_all = pd.DataFrame(columns=["FRAME_ID", "DATE",
                  "NAXIS3", "CoAdd", "Q_CHEB", "Q_CHCN"])
for file in tqdm(filelist):
    obsheader = readheader(file)
    list1 = [obsheader["FRAMEID"], obsheader["DATE-OBS"], obsheader["NAXIS3"],
                 obsheader["Q_CHAM"], obsheader["Q_CHEB"], obsheader["Q_CHCN"]]
    add_pd = pd.DataFrame([list1], columns=df.columns)
    df_all = pd.concat([df_all, add_pd], ignore_index=True)

100%|██████████| 7896/7896 [06:43<00:00, 19.57it/s]

In [20]:
df_all[df_all["CoAdd"]==0]

          FRAME_ID        DATE NAXIS3 CoAdd Q_CHEB Q_CHCN
512   COMA00033273  2003-01-08    224     0     16     14
513   COMA00033275  2003-01-08    224     0     16     14
514   COMA00033277  2003-01-08    224     0     16     14
515   COMA00033279  2003-01-08    224     0     16     14
516   COMA00033281  2003-01-08    224     0     16     14
...            ...         ...    ...   ...    ...    ...
1834  COMA00035451  2003-06-15    192     0     16     12
1835  COMA00035453  2003-06-15    192     0     16     12
1836  COMA00035455  2003-06-15    192     0     16     12
1837  COMA00035457  2003-06-15    192     0     16     12
1838  COMA00035459  2003-06-15    192     0     16     12

[193 rows x 6 columns]

この結果より、RAWモードの場合には、q_bsepの処理で、2マイ飛ばしにするのではよくない。  
Q_CHEBの枚数の塊が、CHCN個分あるので、CHEBごとに

In [21]:
f1 = filelist[512]
fh = readheader(f1)
fh["FRAMEID"]

'COMA00033273'

In [22]:
obsfile = r'/mnt/e/2003/COMA00033273.fits'
obsdata = readdata(obsfile)
obsdata.shape

(1, 224, 240, 320)

In [55]:
obs_dim3 = obsdata[:,:,:,:]
X = np.array(np.split(obs_dim3, 14, axis=1))
Y = np.sum(X, axis=0)
Y

array([[[[-21851., -22229., -21766., ..., -14712., -14936., -14307.],
         [-21749., -22463., -22260., ..., -14964., -14360., -14781.],
         [-21626., -22455., -21987., ..., -13015., -12777., -12426.],
         ...,
         [-16774., -15949., -14310., ..., 228547., 231601., 224440.],
         [-16949., -16579., -14461., ..., 237366., 227277., 227649.],
         [-17457., -16799., -14896., ..., 229482., 223022., 163832.]],

        [[-21791., -22173., -21768., ..., -14720., -14891., -14366.],
         [-21803., -22540., -22159., ..., -14716., -14344., -14750.],
         [-21628., -22396., -21935., ..., -13080., -12777., -12535.],
         ...,
         [-16769., -15971., -14312., ..., 228613., 231639., 224485.],
         [-16929., -16516., -14426., ..., 237319., 227267., 227698.],
         [-17447., -16881., -14822., ..., 229558., 223145., 163968.]],

        [[-21757., -22080., -21770., ..., -14757., -14910., -14241.],
         [-21813., -22429., -22195., ..., -14773., -14290., -14935.],
         [-21619., -22426., -21955., ..., -12982., -12775., -12408.],
         ...,
         [-16769., -16065., -14276., ..., 228679., 231708., 224439.],
         [-16918., -16440., -14396., ..., 237214., 227274., 227652.],
         [-17425., -16827., -14874., ..., 229588., 223089., 163963.]],

        ...,

        [[-21717., -22066., -21797., ..., -14671., -14845., -14294.],
         [-21791., -22507., -22186., ..., -14763., -14334., -14850.],
         [-21601., -22444., -22006., ..., -12976., -12753., -12485.],
         ...,
         [-16784., -16024., -14358., ..., 228754., 231706., 224594.],
         [-16981., -16510., -14417., ..., 237306., 227238., 227604.],
         [-17419., -16769., -14857., ..., 229561., 223074., 163977.]],

        [[-21724., -22085., -21846., ..., -14702., -14784., -14175.],
         [-21783., -22444., -22196., ..., -14920., -14336., -14839.],
         [-21659., -22509., -22023., ..., -13001., -12714., -12384.],
         ...,
         [-16763., -16132., -14302., ..., 228758., 231663., 224480.],
         [-16929., -16489., -14413., ..., 237370., 227301., 227665.],
         [-17379., -16775., -14854., ..., 229590., 223109., 163901.]],

        [[-21764., -22205., -21780., ..., -14613., -14867., -14241.],
         [-21724., -22374., -22184., ..., -14870., -14348., -14853.],
         [-21664., -22616., -21910., ..., -13026., -12768., -12398.],
         ...,
         [-16749., -16114., -14267., ..., 228688., 231678., 224519.],
         [-16932., -16562., -14403., ..., 237394., 227375., 227650.],
         [-17406., -16707., -14837., ..., 229517., 223026., 163903.]]]])